/* === ESTILO GERAL === */
#corpo12 {
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f7fa;
    margin: 0;
    padding: 0;
    color: #222;
}

.h1biblioteca {
    font-weight: bold;
    text-align: center;
}

.pbiblioteca {
    line-height: 1.6;
    text-align: center;
}

/* === MENU === */
#menu-biblioteca {
    background: #005f91;
    padding: 12px 0;
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 5;
    margin: 0;
}

#menu-biblioteca li a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    padding: 12px 12px;
    border-radius: 5px;
    transition: 0.2s;
}

#menu-biblioteca li a:hover {
    background: #003d5c;
}

/* === CARROSSEL === */
.carousel-item img {
    width: 250px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
    transition: transform 0.3s;
}

.carousel-item img:hover {
    transform: scale(1.05);
}

.carousel-indicators {
    background-color: #005f91;
    width: 200px;
    margin-left: 44.3%;
    margin-right: 50%;
}

.carousel-control-next {
    background-color: #005f91;
    margin-right: 28rem;
    margin-top: 10rem;
    width: 50px;
    height: 50px;
}

.carousel-control-prev {
    background-color: #005f91;
    margin-left: 30rem;
    margin-top: 10rem;
    width: 50px;
    height: 50px;
}

.ptitulo-livro-biblioteca {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}

.pdflivro {
    margin-left: 40rem;
}

/* Espaçamento entre seções */
.sessao-biblioteca {
    margin-bottom: 60px;
}

#menu-principal ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  background: rgba(42, 123, 155, 1);
  border-radius: 5px;
}

#menu-principal li {
  position: relative;
}

#menu-principal li a {
  display: block;
  padding: 12px 20px;
  color: white;
  text-decoration: none;
  transition: background-color 0.2s;
}

#menu-principal li a:hover {
  background: rgb(9, 74, 100);
}

#menu-principal li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: rgba(42, 123, 155, 1);
  min-width: 180px;
}

#menu-principal li:hover ul {
  display: block;
}

#menu-principal li ul li a {
  padding: 10px;
}